body
{
    font-family: 'Roboto', sans-serif;
}

#boxS
{
    padding-top: 100px;
    
    padding-right: 60px;
    
    padding-bottom: 80px;
    
    padding-left: 60px;

    background-image: URL(../../Contents/home0.svg);

    background-repeat: no-repeat;
    
    background-size: cover ;
    
}

#boxG
{
    background-color: #f3f3f3; 
    
    padding-top: 50px;
    
    padding-right: 30px;
    
    padding-bottom: 40px;
    
    padding-left: 30px;

    font-size: medium; 
    
    color: #747474;
}

#boxW
{
    background-color: white; 
    
    padding-top: 50px;
    
    padding-right: 30px;
    
    padding-bottom: 40px;
    
    padding-left: 30px;

    font-size: medium; 
    
    color: #747474;
}

a
{
    color: #58A6FF; 

    text-decoration: none; 
    
}


h2
{
    color:#261a1a;
}

h3
{
    color:#261a1a;
}



section a
{
    color: rgba(255,255,255,.55); 
}

section a:hover
{
    color: rgba(255,255,255,.75); 
}

.container .bg-dark 
{
    color: #A5D6FF;

    padding: 16px;

    padding-left: 50px;

    border-radius: 6px;

    padding-right: 50px;

  
}

#copy
{
    padding: 10px;

    color: #8b949e;

    background-color: #212529;

    border: none;

    outline: none;

    border-radius: 10px;

    cursor: pointer;

    padding-left: 98.5%;
}

#copy:hover
{
    padding: 10px;

    color: #A5D6FF;

    border: none;

    outline: none;

    border-radius: 10px;

    cursor: pointer;

    padding-left: 98.5%;
}


span
{
    color: #7EE787;
}

pre
{
    max-height: 750px;
}



code
{
    background-color: #80808080;

    color: #F4F4F4;
    
    border-radius: 6px;
    
    padding: 3px 5px;

    
}



#copyright
{
    background-color: rgb(0,0,0,0.2);
}