#boxG
{
    background-color: #f3f3f3; 
    
    padding-top: 50px;
    
    padding-right: 30px;
    
    padding-bottom: 40px;
    
    padding-left: 30px;

    font-size: medium; 
    
    color: #747474;
}

#boxW
{
    background-color: white; 
    
    padding-top: 50px;
    
    padding-right: 30px;
    
    padding-bottom: 40px;
    
    padding-left: 30px;

    font-size: medium; 
    
    color: #747474;
}

a
{
    color: #58A6FF; 

    text-decoration: none; 
    
}


h2
{
    color:#261a1a;
}

#copyright
{
    background-color: rgb(0,0,0,0.2);
}